.gallery {
  background: var(--darkGrey);
}

.gallery-img-container {
  position: relative;
  background: var(--primaryColor);
}

.gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  transform: translate(-50%, -50%);
  color: var(--mainWhite);
  cursor: pointer;
  transition: var(--mainTransition);
  opacity: 0;
}

.gallery-img {
  transition: var(--mainTransition);
}

.gallery-img-container:hover .gallery-img {
  opacity: 0.5;
}
.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .gallery-center {
    display: flex;
      flex-wrap: wrap;
  }
  .gallery-img-container {
      flex: 0 0 50%;
  }
}

@media screen and (min-width: 992px) {
  .gallery-img-container {
    flex: 0 0 25%;
  }
}