.service {
  text-align: center;
  margin-bottom: 3rem;
}

.service-icon {
  background: var(--primaryColor);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.service-title {
  text-transform: uppercase;
}

.service-text {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (min-width: 576px) {
  .services-center {
    display: flex;
    /* after */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(33.3333% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .service {
    display: flex;
    text-align: left;
  }

  .service-icon {
    align-self: start;
  }

  .service-info {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .service-text {
    width: 90%;
    margin: 0;
  }
}