/*###############Banner################*/

.banner {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-box {
  color: var(--mainWhite);
  text-align: center;
}


.banner-underline {
  width: 200px;
  margin: 10px auto;
  border: 3px solid var(--primaryColor);
}

