.footer {
  background-color: var(--mainDark);
  padding: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  &-text {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--mainWhite);
    margin-bottom: 0.2rem;
  }

  &-icons {
    font-size: 2rem;
  }

  &-icons .fa {
    margin-right: 1.2rem;
    color: var(--mainWhite);
    transition: transform 2s;
  }

  &-icons .fa:hover {
    color: var(--primaryColor);
    transform: translateY(-15px);
  }
}
